h1 {
    padding-top: 10px;
    font-family: "Titillium Web", sans-serif;
}

.Hide {
    display:none;
}

.pImg {
    border-radius: 10px;
    padding-top: 40px;
    max-width: 70% !important;
    max-height: 60% !important;
    filter: grayscale(100%);
}

.pP {
    padding-top: 5px;
}

.projectDiv {
    max-width: 600px !important;
    height: 300px;
    background-color: #cbdaae;
    background-image: linear-gradient(black,#508a91, #508a61);
    margin: 5px;
    border-radius: 20px;
    margin-top: 40px;
    color: black;
}

.hover {
    background-color: #52514d;
    color: white;
}

.parentDiv {
    display: flex !important;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
  .projectDiv {
    max-width: 250px;
  }
}